body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Setting the default font family */
  height: 100%; /* Ensuring the body and html elements take up the full height of the viewport */
  display: flex; /* Using flexbox for layout */
  justify-content: center; /* Centering content horizontally */
  align-items: center; /* Centering content vertically */
  background-color: #f0f0f0; /* Setting the background color */
}

.container {
  max-width: 800px; /* Setting the maximum width of the container */
  width: 90%; /* Setting the width of the container */
  padding: 20px; /* Adding padding to the container */
  text-align: center; /* Centering text within the container */
  background-color: #e5b633; /* Setting the background color of the container */
  border-radius: 8px; /* Adding rounded corners to the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a box shadow to the container for depth */
}

#scrapeForm {
  margin-top: 20px; /* Adding margin space at the top of the form */
}

#urlInput {
  width: 70%; /* Setting the width of the URL input field */
  padding: 10px; /* Adding padding to the URL input field */
  margin-right: 10px; /* Adding margin space to the right of the URL input field */
  border: 1px solid #ccc; /* Adding a border to the URL input field */
  border-radius: 4px; /* Adding rounded corners to the URL input field */
}

button {
  margin-top: 10%; /* Adding margin space at the top of the button */
  padding: 10px 20px; /* Adding padding to the button */
  border: none; /* Removing the border from the button */
  border-radius: 4px; /* Adding rounded corners to the button */
  background-color: #007bff; /* Setting the background color of the button */
  color: white; /* Setting the text color of the button */
  cursor: pointer; /* Setting the cursor to a pointer on hover */
}

button:hover {
  background-color: #0056b3; /* Changing the background color of the button on hover */
}

.loader {
  margin-top: 20px; /* Adding margin space at the top of the loader */
  border: 16px solid #f3f3f3; /* Setting the border of the loader */
  border-top: 16px solid #3498db; /* Setting the top border color of the loader */
  border-radius: 50%; /* Creating a circle shape for the loader */
  width: 120px; /* Setting the width of the loader */
  height: 120px; /* Setting the height of the loader */
  animation: spin 2s linear infinite; /* Adding a spinning animation to the loader */
}

#loadingScreen{
  display: none; /* Hiding the loading screen by default */
  font-weight: bold; /* Setting the font weight of the loading text */
  font-size: 25px; /* Setting the font size of the loading text */
  margin-top: 20px; /* Adding margin space at the top of the loading screen */
  text-align: -webkit-center; /* Centering text horizontally */
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Setting the initial rotation angle of the loader */
  100% { transform: rotate(360deg); } /* Setting the final rotation angle of the loader */
}